*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #133252;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4{
    padding-bottom: 6px;
}

.temp{
    font-size: 2rem;
}

.time-location{
    font-size: 1.2rem;
}

.weather-info{
    font-size: 1.2rem;
}

.city-input{
    padding: 0.6rem 1rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226);
    color: black;
    border: none;
    border-radius: 5px;
}

.city-input:hover{
    background-color: rgb(255, 255, 255);
    transition-duration: 0.5s;
}

button{
    padding: 0.4rem 1rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: #133252;
    border: 1.5px solid black;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: black;
    color: white;
    transition-duration: 0.5s;
}

.field{
    margin: 0;
    padding: 10px;
}